html {
  font-family: "Roboto Mono", monospace;
  color: #231f20;
}

a {
  text-decoration: none;
  color: #231f20;
}

.rolelink {
  text-decoration: underline;
}

.rolelink:hover,
.rolelink:focus {
  text-decoration: none;
}

.navlink {
  text-decoration: none;
  color: #231f20;
  padding-bottom: 1px;
  border-bottom: 2px solid transparent;
  transition: all .3s ease;
}

.navlink:hover,
.navlink:focus {
  border-bottom: 2px solid #b59e5f;
  padding-bottom: 3px;
}

.navlinkwhite {
  text-decoration: none;
  color: #fff;
  padding-bottom: 1px;
  border-bottom: 2px solid transparent;
  transition: all .3s ease;
}

.navlinkwhite:hover,
.navlinkwhite:focus {
  border-bottom: 2px solid #fff;
  padding-bottom: 3px;
}

.navlogo path {
  color: #231f20;
  transition: all .3s ease;
}

.navlogo:hover path {
  fill: #231f20;
}

.navlogowhite path {
  color: #fff;
  transition: all .3s ease;
}

.navlogowhite:hover path {
  fill: #fff;
}

.navlogowhitefill {
  fill: #fff;
}

.nameh1,
.nameh2 {
  line-height: 100%;
}

.projectname {
  bottom: -1.6em;
  left: 2em;
  transition: all .3s ease;
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0);
}

.projectdesc {
  visibility: hidden;
  transition: all .3s ease;
  color: rgba(0, 0, 0, 0);
  bottom: 0;
  left: 2em;
}

.caption {
  bottom: -2em;
  left: 3em;
}

.nameh2 {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 2px #231f20;
  transform: scale(1, -1);
  transition: all .3s ease;
}

.nameh2:hover,
.nameh2:focus {
  color: #231f20;
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0);
}

.portfoliopiece:hover .projectname {
  transform: translateX(-15px);
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1.5px #231f20;
}

.portfoliopiece:hover .projectdesc {
  visibility: visible;
  color: #231f20;
}

.gumheader, .gumfooter {
  background-color: #005B9C;
}

.newmoonheader, .newmoonfooter {
  background-color: #7b6991;
}

.imgleft {
  padding-right: 5em
}

.imgright {
  padding-left: 5em
}

.colourfootertitle {
  transform: translateY(-1em);
}

.outline {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 2px #231f20;
}

.i-btn {
    transition: all .3s ease;
}

.i-btn:focus,
.i-btn:hover {
  transform: scale(.9);
}

.me {
  width: 70%;
  max-width: 1000px;
  margin: auto;
}

.icons {
  width: 50%;
  margin: auto;
}

.email {
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
  transition: border .3s ease;
  color: #b59e5f;
}

.email:focus,
.email:hover {
  border-bottom: 2px solid #b59e5f;
}
