html {
  font-family: "Roboto Mono", monospace;
  color: #231f20;
}

a {
  text-decoration: none;
  color: #231f20;
}

.rolelink {
  border-bottom: 1.5px solid #231f20;
  transition: all .3s ease;
}

.rolelink:hover,
.rolelink:focus {
  border-bottom: 1.5px solid transparent;
  padding-bottom: 1px;
}

.navlink {
  text-decoration: none;
  color: #231f20;
  padding-bottom: 1px;
  border-bottom: 2px solid transparent;
  transition: all .3s ease;
}

.navlink:hover,
.navlink:focus {
  border-bottom: 2px solid #b59e5f;
  padding-bottom: 3px;
}

.navlinkwhite {
  text-decoration: none;
  color: #fff;
  padding-bottom: 1px;
  border-bottom: 2px solid transparent;
  transition: all .3s ease;
}

.navlinkwhite:hover,
.navlinkwhite:focus {
  border-bottom: 2px solid #fff;
  padding-bottom: 3px;
}

.navlogo path {
  color: #231f20;
  transition: all .3s ease;
}

.current {
  border-bottom: 2px solid #b59e5f;
  padding-bottom: 3px;
}

.current:hover,
.current:focus {
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  padding-bottom: 0px;
}

.navlogo:hover path {
  fill: #231f20;
}

.navlogowhite path {
  color: #fff;
  transition: all .3s ease;
}

.navlogowhite:hover path {
  fill: #fff;
}

.navlogowhitefill {
  fill: #fff;
}

.nameh1,
.nameh2 {
  line-height: 100%;
}

.nameh2 {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 2px #231f20;
  transform: scale(1, -1);
  transition: all .3s ease;
}

.nameh2:hover,
.nameh2:focus {
  color: #231f20;
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0);
}

.caption {
  bottom: -2em;
  left: 3em;
}

.projectname {
  bottom: -1.6em;
  left: 2em;
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0);
}

.projectdetails {
  color: #fff;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  transition: all .3s ease;
  transition-delay: .3s;
  display: none;
  visibility: hidden;
}

.gumprojectdetails,
.gumheader,
.gumfooter {
  background-color: #005B9C;
}

.gum-odd-li {
  background-color: #005089;
}

.rozrossprojectdetails,
.rozrossheader,
.rozrossfooter {
  background-color: #5BB4B5;
}

.rozross-odd-li {
  background-color: #4c9899;
}

.parlourrebrandprojectdetails,
.newmoonheader,
.newmoonfooter {
  background-color: #7b6991;
}

.parlourrebrand-odd-li {
  background-color: #6a5b7c;
}

.finalreportprojectdetails,
.finalannualreportheader,
.finalannualreportfooter {
  background-color: #ed7323;
}

.finalreport-odd-li {
  background-color: #d3651d;
}

.lotbotprojectdetails,
.lotbotheader,
.lotbotfooter {
  background-color: #F9C33D;
}

.lotbot-odd-li {
  background-color: #FBB03B;
}

.portfoliopiece {
  transition: all .3s ease;
}

.portfoliopiece:hover,
.portfoliopiece:focus {
  transform: scale(0.97);
}

.portfoliopiece:hover .projectdetails {
  right: -21%;
}

@media only screen and (min-width: 60em) {

  .projectdetails {
    display: inline-block;
    visibility: visible;
  }

}

.imgleft {
  padding-right: 5em
}

.imgright {
  padding-left: 5em
}

.colourfootertitle {
  transform: translateY(-1em);
}

.outline {
  color: rgba(0, 0, 0, 0);
  -webkit-text-: 2px #231f20;
}

.i-btn {
    transition: all .3s ease;
}

.i-btn:focus,
.i-btn:hover {
  transform: scale(.9);
}

.me {
  width: 70%;
  max-width: 1000px;
  margin: auto;
}

.icons {
  width: 50%;
  margin: auto;
}

.email {
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
  transition: border .3s ease;
  color: #b59e5f;
}

.email:focus,
.email:hover {
  border-bottom: 2px solid #b59e5f;
}
