html {
  font-family: Gopher, sans-serif;
  font-weight: 400;
  color: #231f20;
  background-color: #fefaf4;
}

.services-box {
  border: 1.5px solid #fefaf4;
  box-shadow: 7px 7px rgba(0, 0, 0, .1);
}

.service-text {
  background-color: #fefaf4;
  color: #231f20;
}

.modesto, h2 {
  font-family: roc-grotesk-wide, sans-serif;
}

.uppercase {
  text-transform: uppercase;
}

.gold-text {
  color: #D6BC74
}

.html-black {
  background-color: #231f20;
  color: #fefaf4;
}

.html-grey {
  background-color: #464646;
  color: #fefaf4;
}

.errorheader {
  background-color: #464646;
  color: #fefaf4;
}

a {
  text-decoration: none;
  color: #231f20;
}

h1,
blockquote {
  text-shadow: .5px .5px 3px rgba(0, 0, 0, .2);
}

.text-shadow {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
}

.drop-shadow {
  box-shadow: 7px 7px rgba(0, 0, 0, .1);
}

.rolelink {
  border-bottom: 1.5px solid #231f20;
  transition: all .3s ease;
}

.rolelink:hover,
.rolelink:focus {
  border-bottom: 1.5px solid transparent;
  padding-bottom: 1px;
}

.text-left {
  text-align: left;
}

.landing-intro {
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
  height: 90vh;
  position: relative;
}

.landing-text {
  margin-top: auto;
  margin-bottom: auto;
  height: auto;
}

.scroll {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: .25rem;
  height: 3rem;
  border-radius: 60px 60px 0 0;
  overflow: hidden;
}

.scroll-line {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: .125rem;
  height: 10rem;
  background-color: #fefaf4;
  opacity: .5;
  border-radius: 5px 5px 0 0;
}

button {
  background-color: transparent;
  border: none;
  padding-left: 0;
  padding-right: 0;
}

button:hover,
button:focus,
button:active {
  background-color: transparent;
  border: none;
  border-radius: 0;
}

link,
.selector {
  text-decoration: none;
  color: #231f20;
  padding-bottom: 1px;
  border-bottom: 2px solid transparent;
  transition: all .3s ease;
}

.navlink:hover,
.navlink:focus,
.navlink:active,
.selector:hover,
.selector:focus,
.selector:active {
  color: #231f20;
  border-bottom: 2px solid #D6BC74;
  padding-bottom: 3px;
}

.work-nav button.active {
  color: #231f20;
  border-bottom: 2px solid #D6BC74;
  padding-bottom: 3px;
  border-radius: 0;
}

.workcontent {
  animation: fadeEffect .3s;
}

.navlink2 {
  transition: all .3s ease;
}

.navlink2:hover,
.navlink2:focus,
.navlink2:active {

}

.navlink {
  text-decoration: none;
  color: #231f20;
  padding-bottom: 1px;
  border-bottom: 2px solid transparent;
  transition: all .3s ease;
}

.navlink:hover,
.navlink:focus,
.navlink:active {
  border-bottom: 2px solid #D6BC74;
  padding-bottom: 3px;
}


.navlinkwhite,
.footerlinkwhite {
  text-decoration: none;
  color: #fefaf4;
  padding-bottom: 1px;
  border-bottom: 2px solid transparent;
  transition: all .3s ease;
}

.navlinkwhite:hover,
.navlinkwhite:focus
.navlinkwhite:active {
  border-bottom: 2px solid #fefaf4;
  padding-bottom: 3px;
}

.footerlinkwhite:hover,
.footerlinkwhite:focus {
  border-bottom: 2px solid #fefaf4;
  padding-bottom: 3px;
}
.current {
  border-bottom: 2px solid #D6BC74;
  padding-bottom: 3px;
}

.current:hover,
.current:focus,
.current:active {
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  padding-bottom: 0px;
}

.navlogo path {
  transition: all .3s ease;
}

.navlogoblack {
  fill: #231f20;
}

.navlogowhite {
  fill: #fefaf4;
}

.navlogowhiteblank {
  fill: #fefaf4;
  fill-opacity: 0;
}

.navlogoblackblank {
  fill: rgba(0, 0, 0, 0);
}

.navlogoblack:hover path,
.navlogoblack:focus path,
.navlogoblack:active path {
  fill: #231f20;
}

.navlogowhite:hover path,
.navlogowhite:focus path,
.navlogowhite:active path {
  fill: #fefaf4;
  fill-opacity: 1;
}

.nav {
  background-color: #fefaf4;
  color: #231f20;
  display: none;
}

.nav-check {
  position: absolute;
  top: -10em;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-label {
  cursor: pointer;
  display: inline-block;
  width: 20px;
  position: absolute;
  left: 30px;
  top: 30px;
  opacity: .5;
  transition: all .3s ease;
}

.nav-label:hover,
.nav-label:focus {
  opacity: 1;
}

.nav-open,
.nav-close {
  display: block;
}

label.nav-label::before {
  display: none;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

.logo-button {
  position: absolute;
  opacity: .5;
  transition: all .3s ease;
  left: 50%;
  top: 30px;
}

.logo-button:focus,
.logo-button:hover {
  opacity: 1;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

.text-white {
  color: #fefaf4;
}

.p-rule {
  border-bottom: solid 2px #D6BC74;
}

.portrait {
  background-color: #D6BC74;
  border-radius: 50%;
  max-width: 150px;
  max-height: 150px;
  overflow: hidden;
  margin: auto;
  top: -75px;
  border: solid 2px #D6BC74;
  box-shadow: 0 0 0 4px #fff inset;
}

.nameh1,
.blacktoplink,
.whitetoplink {
  line-height: 100%;
}

.blacktoplink {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px #231f20;
  transform: scale(1, -1);
  transition: all .3s ease;
}

.blacktoplink:hover,
.blacktoplink:focus,
.blacktoplink:active {
  color: #231f20;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
}

.whitetoplink {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px #fefaf4;
  transform: scale(1, -1);
  transition: all .3s ease;
}

.whitetoplink:hover,
.whitetoplink:focus,
.whitetoplink:active {
  color: #fefaf4;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
}

.projectcovertext {
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
  max-width: 9rem;
  padding-left: .5rem;
  padding-right: .5rem;
}

.projectdetails {
  color: #fefaf4;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  transition: all .3s ease;
  transition-delay: .3s;
  display: none;
  visibility: hidden;
  opacity: 0;
}

.aboutfooter,
.gold {
  background-color: #D6BC74;
  color: #fefaf4;
}

.services li:before {
  content: "\203A";
}

.gumprojectdetails,
.gumheader,
.gumfooter {
  background-color: #005B9C;
  color: #fefaf4;
}

.gum-odd-li {
  background-color: #005089;
}

.rozrossprojectdetails,
.rozrossheader,
.rozrossfooter {
  background-color: #5BB4B5;
  color: #fefaf4;
}

.rozross-odd-li {
  background-color: #4c9899;
}

.parlourrebrandprojectdetails,
.newmoonheader,
.newmoonfooter {
  background-color: #7b6991;
  color: #fefaf4;
}

.parlourrebrand-odd-li {
  background-color: #6a5b7c;
}

.finalreportprojectdetails,
.finalannualreportheader,
.finalannualreportfooter {
  background-color: #ed7323;
  color: #fefaf4;
}

.finalreport-odd-li {
  background-color: #d3651d;
}

.blackheader,
.blackfooter {
  background-color: #231f20;
  color: #fefaf4;
}

.portfoliopiece {
  transition: all .3s ease;
}

.portfoliopiece:hover,
.portfoliopiece:focus,
.portfoliopiece:active {
  transform: scale(0.99);
}

.portfoliopiece:hover .drop-shadow {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.4);
}

.portfoliopiece:hover .projectdetails {
  right: -21%;
  opacity: 1;
}

.portfoliopiece:focus .projectdetails {
  right: -21%;
  opacity: 1;
}

.imgleft {
  padding-right: 5em
}

.imgright {
  padding-left: 5em
}

.colourfootertitle {
  transform: translateY(-1em);
}

.outline {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px #231f20;
}

.i-btn,
.i-logo {
    transition: all .3s ease;
}

.i-btn:focus,
.i-btn:hover {
  color: #D6BC74;
}

.me {
  width: 70%;
  max-width: 1000px;
  margin: auto;
}

.icons {
  max-width: 55%;
  margin: auto;
}

.email {
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
  transition: border .3s ease;
  color: #D6BC74;
}

.email:focus,
.email:hover {
  border-bottom: 2px solid #D6BC74;
}

.prevbutton,
.previcon,
.nextbutton,
.nexticon,
.linkicon {
  transition: all .3s ease;
}

.prevbutton:hover .previcon {
  transform: translateX(-.5em);
  opacity: 0;
}

.contact-container {
  height: 400px;
  width: 100%;
  position: relative;
  background-color: rgba(214, 188, 116, .2);
  margin: auto;
}

@media only screen and (min-width: 25em) {
  .contact-container {
    height: 500px;
  }

}

.contact-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 2px solid #D6BC74;
  top: -10px;
  left: -10px;
  z-index: 1;
}

.button-container-white {
  height: 50px;
  width: 200px;
  position: relative;
  background-color: #fefaf4;
  margin: auto;
}

.button-container-gold-nocenter {
  height: 50px;
  width: 200px;
  position: relative;
  background-color: rgba(214, 188, 116, .2);
}

.button-inner-white {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 2px solid #E5E5E5;
  top: -5px;
  left: -5px;
  z-index: 1;
  line-height: 50px;
}

.button-inner-gold {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 2px solid #D6BC74;
  top: -5px;
  left: -5px;
  z-index: 1;
  line-height: 50px;
}

.nextbutton:hover .nexticon {
  transform: translateX(.5em);
  opacity: 0;
}

.linkbutton:hover .linkicon {
  transform: translate(.5em,-.5em);
  opacity: 0;
}

.big-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1280px;
}

.case-study {
  min-height: 570px;
}

.case-study:hover .grid-title {
  transform:translate3D(0, -6px, 0)
}

.case-study:hover .grid-text {
  transform:translate3D(0, 6px, 0)
}

.grid-title, .grid-text {
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.case-study-hover {
  width: 100%;
}

.grid-item1 {
  background-color: rgb(59, 171, 135);
}

.grid-item2 {
  background-color: rgb(253, 240, 236);
}

.grid-item3 {
  background-color: rgb(152, 190, 200);
}

.black {
  color: #333132;
}

.white {
  color: #fefaf4;
}

.section-header {
    font-size: 160px;
    font-weight: 800;
    letter-spacing: -0.05em;
    text-align: left;
    z-index: 10;
    position: relative;
    line-height: 0.6em;
    pointer-events: none;
    flex:1 100%;
    transform:translate3D(0, 20px, 0)
}

@media (max-width: 600px) {
    .section-header {
        font-size:18vw
    }

    .grid-item-header {
        font-size: 9.5vmin;
        max-width:80%
    }
}

.grid-title {
    font-size: 46px;
    font-weight: 700;
    line-height: 1.3em;
    max-width: 680px;
    margin: auto;
}

.grid-text {
  line-height: 30px;
  max-width: 500px;
  margin: auto;
}

footer,
address {
  font-style: normal;
}

.footer-nav-link::after {
  content: " ·"
}

.focusfields {
  margin-left: auto;
  margin-right: auto;
  max-width: 36em;
  width: 100%;
}

.scrollmenu {
  overflow: auto;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollmenu a {
  display: inline-block;
  margin: 15px;
  padding-bottom: 3px;
}

.scrollmenu::-webkit-scrollbar {
    display: none;
}

@media only screen and (min-width: 25em) {

  .projecttitle {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .projectdesc {
    font-size: .8784rem;
    line-height: 1.3rem;
  }

  .logospace {
    padding-left: 1.4rem;
    padding-right: 1.4rem;
  }

  .projectcovertext {
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    max-width: none;
    padding-left: 0;
    padding-right: 0;
  }

  .content-section {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
  }

}

@media only screen and (min-width: 38em) {

  .icons {
    max-width: 40%;
  }

  .blacktoplink {
    -webkit-text-stroke: 2px #231f20;
  }

  .blacktoplink:hover,
  .blacktoplink:focus,
  .blacktoplink:active {
    color: #231f20;
    -webkit-text-stroke: 2px rgba(0, 0, 0, 0);
  }

  .whitetoplink {
    -webkit-text-stroke: 2px #fefaf4;
  }

  .whitetoplink:hover,
  .whitetoplink:focus,
  .whitetoplink:active {
    color: #fefaf4;
    -webkit-text-stroke: 2px rgba(0, 0, 0, 0);
  }

  .outline {
    -webkit-text-stroke: 2px #231f20;
  }

  .contact-container {
    width: 80%;
  }


}

@media only screen and (min-width: 60em) {

  .icons {
    max-width: 30%;
  }

  .projectdetails {
    display: inline-block;
    visibility: visible;
  }

  .focusfields {
    max-width: 52em;
  }

  .maintitle {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
