---
layout: default

title: Blog · Alex Spagnuolo
description: I write about design, art and the projects that are keeping me busy.

navlogoclass: navlogoblack
navlogotopclass: navlogoblack
navlogobottomclass: navlogoblackblank
---
<section class="pad-t-2 push-2 big-wrapper content-section">
  <div class="text-center push-2">
    <h2 class="pad-t-2 mega uppercase">Blog</h2>
    <div class="grid">
      <div class="unit xs-1 s-1 m-1 l-1">
        {% include blog-1.html %}
      </div>

      <div class="unit xs-1 s-1 m-1 l-1-2">
        {% include blog-2.html %}
      </div>

      <div class="unit xs-1 s-1 m-1 l-1-2">
        {% include blog-3.html %}
      </div>
    </div>
  </div>
</section>
