---
layout: default

title: Alex Spagnuolo · Design Portfolio
description: An Ottawa-based graphic designer and artist focused on branding, digital and print.

navlogoclass: navlogoblack
navlogotopclass: navlogoblack
navlogobottomclass: navlogoblackblank
---

<ul class="skip-links">
  <li><a href="#nav">Go to top of website</a></li>
  <li><a href="#work">Go to work section</a></li>
  <li><a href="#contact">Go to contact</a></li>
  <li><a href="#footer">Go to footer</a></li>
</ul>

<section class="landing-intro text-center push-0">
  <div class="gutter landing-text push-2">
    <h1 class="modesto tena maintitle">Alex Spagnuolo</h1>
    <p class="nano push-2 max-length">I design, solve problems and create memorable experiences.</p>
  </div>
  <a class="island scroll smooth-scroll" href="#work">
    <span class="scroll-line">
  </a>
</section>

<section id="blog" class="pad-t-2 push-2 big-wrapper content-section">
  <div class="text-center push-2">
    <h2 class="section-header text-left push-0">Blog.</h2>
    <div class="grid">
      <div class="unit xs-1 s-1 m-1 l-1">
        {% include blog-1.html %}
      </div>

      <div class="unit xs-1 s-1 m-1 l-1-2">
        {% include blog-2.html %}
      </div>

      <div class="unit xs-1 s-1 m-1 l-1-2">
        {% include madonna.html %}
      </div>

      <div class="unit xs-1 s-1 m-1 l-1 push">
        {% include micromacro.html %}
      </div>
    </div>
  </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});
</script>
{% include contact.html %}
