<a href="/blog/five-yoga-stretches-for-better-posture/" class="text-center" aria-label="Read Five Stretches for Better Posure" itemprop="url">
  <div class="case-study grid-item3 relative">
    <div class="white island case-study-hover absolute pin-c">
      <div class="push">
        <h3 class="grid-title">Five Yoga Stretches<br>for Better Posture</h3>
      </div>
      <div class="push grid-item">
        <i class="icon i-96">
          <svg enable-background="new 0 0 178.9 178.2" viewBox="0 0 178.9 178.2" xmlns="http://www.w3.org/2000/svg"><path d="m0 18.6c7.7-11.6 20.8-18.6 34.8-18.6 27.4 0 46 16.8 46 40.2 0 19.2-4.5 86.4-5.8 93-1.4 13.5-13.4 23.4-27 22-12.8-1.3-22.4-12.2-22.1-25 0-8.5-5.5-81.1-5.5-90 1.2-10.7-6.4-20.3-17-21.6-1.1 0-2.3-.1-3.4 0zm178.9 22.8c-7.7-11.6-20.8-18.6-34.8-18.6-27.4 0-46 16.8-46 40.2 0 19.2 4.5 86.4 5.8 93 1.4 13.5 13.4 23.4 27 22 12.8-1.3 22.4-12.2 22.1-25 0-8.5 5.5-81.1 5.5-89.9-1.3-10.6 6.4-20.3 17-21.6 1.1-.1 2.3-.2 3.4-.1z"/></svg>
        </i>
      </div>
      <p class="milli push-0 grid-text grid-text-s">Balance mind, body and spirit while relieving the negative impacts of a sedentary lifestyle.</p>
    </div>
  </div>
</a>
