<div class="case-study grid-item3 relative">
  <a href="/blog/" class="text-center" itemprop="url">
    <div class="white island case-study-hover absolute pin-c">
      <div class="push">
        <h3 class="grid-title">Five Yoga Stretches for Better Posture</h3>
      </div>
      <div class="push">
        <img src="https://via.placeholder.com/150" alt="">
      </div>
      <p class="milli push-0 grid-text grid-text-s">Balance mind, body and spirit while relieving the negative impacts of a sedentary lifestyle.</p>
    </div>
  </a>
</div>
