<div class="turqoise relative">
  <a href="/bex-interiors" class="case-study" itemprop="url">
    <div class="text-left absolute island pin-lt case-study-hover">
      <h3 class="push-0">The BTS Value of Hiring a Designer</h3>
      <p class="uppercase nano push-1-2">Branding, print</p>
      <p class="nano push-0">A new-age retroism vibe which connects blueprint to client.</p>
      <i class="icon i-16">
        <svg><use xlink:href="/images/icons/icons.svg#next" /></svg>
      </i>
    </div>
  </a>
</div>
