<div class="case-study grid-item2 relative">
  <a href="/bex-interiors" class="text-center" itemprop="url">
    <div class="white island case-study-hover absolute pin-c">
      <div class="push">
        <h3 class="grid-title">How to Properly Care for Your Candle</h3>
      </div>
      <div class="push">
        <img src="https://via.placeholder.com/150" alt="">
      </div>
      <p class="micro push-0 grid-text">Hiring a graphic designer is an investment. But is the price tag worth it? Without a doubt, yes.</p>
    </div>
  </a>
</div>
