<section class="gutter pad-t-2" id="contact">
  <div class="contact-container">
    <table class="contact-inner">
      <tr>
        <td class="valign-middle text-center gutter">
          <p class="uppercase modesto-outline tenamega">Hey there!</p>
          <p class="nano max-length push-2">Have an idea you want to share, or even looking to hire? Let's chat and grab a coffee.</p>
          <div class="button-container-white text-center">
            <a title="Send email to alex@aaspagnuolo.ca" itemprop="url" class="button-inner-gold linkbutton" href="mailto:alex@aaspagnuolo.ca" itemprop="email">
              <span class="push-0 icon-label nano uppercase">Get in touch</span>
              <i class="icon i-16 linkicon">
                <svg><use xlink:href="/images/icons/icons.svg#link" /></svg>
              </i>
            </a>
          </div>
        </td>
      </tr>
    </table>
  </div>
</section>
