<div class="blue relative">
  <a href="/gum-packaging" class="case-study" itemprop="url">
    <img class="img-flex" src="images/covers/excel.jpg" alt="Excel gum packaging">
    <div class="text-left absolute island pin-lt case-study-hover">
      <h3 class="push-0">Excel Gum</h3>
      <p class="uppercase nano push-1-2">Packaging</p>
      <p class="nano push-0">An electric packaging refresh meeting forward environmental standards.</p>
      <i class="icon i-16">
        <svg><use xlink:href="/images/icons/icons.svg#next" /></svg>
      </i>
    </div>
  </a>
</div>
