<footer class="pad-t-2 pad-b {{page.footercolourclass}}" id="footer" role="contentinfo" tabindex="0">

  <aside class="text-center pad-t-2" role="complementary">

    <address class="nano push-2">
      <div class="push-1-2">
        <a class="navlink {{page.footerlinkclass}}" href="https://maps.google.ca/?q=Ottawa,+ON" itemprop="addressLocality" rel="external">Ottawa, ON</a>
      </div>
      <div class="push-1-2">
        <a class="navlink {{page.footerlinkclass}}" href="mailto:hello@aaspagnuolo.ca" itemprop="email">hello@aaspagnuolo.ca</a>
      </div>
    </address>

    <div class="nano push-2">

      <section class="grid icons">

        <div class="unit xs-1-3 gutter">
          <a title="LinkedIn" itemprop="url" href="https://www.linkedin.com/in/aaspagnuolo/" rel="me" rel="external">
            <i class="icon i-btn i-24 {{page.iconcolour}}">
              <svg><use xlink:href="/images/icons/icons.svg#in" /></svg>
            </i>
          </a>
        </div>

        <div class="unit xs-1-3 gutter">
          <a title="Vimeo" itemprop="url" href="https://vimeo.com/aaspagnuolo/" rel="me" rel="external">
            <i class="icon i-btn i-24 {{page.iconcolour}}">
              <svg><use xlink:href="/images/icons/icons.svg#vimeo" /></svg>
            </i>
          </a>
        </div>

        <div class="unit xs-1-3 gutter">
          <a title="GitHub" itemprop="url" href="https://github.com/AlexSpagnuolo/" rel="me" rel="external">
            <i class="icon i-btn i-24 {{page.iconcolour}}">
              <svg><use xlink:href="/images/icons/icons.svg#gh" /></svg>
            </i>
          </a>
        </div>
      </section>
    </div>

    <div>
      <p class="nano uppercase">© 2021 Alex Spagnuolo</p>
    </div>

  </aside>
</footer>
