<footer class="pad-t-2 pad-b {{page.footercolourclass}}" id="footer" role="contentinfo" tabindex="0">
  <section id="projects" class="pad-t-2 push-2 big-wrapper content-section">
    <div class="push-2">
      <h2 class="section-header section-header-long push-0">Say Hi.</h2>
      <div class="grid">
        <div class="unit grid-item5 xs-1 s-1 m-1 l-1-2 case-study relative">
          <div class="white island absolute pin-cl">
            <h3 class=""><a class="site-name-link tena footer-email" href="mailto:hello@aaspagnuolo.ca" itemprop="email">hello@<br>aaspagnuolo.ca</a></h3>
            <div class="item-divider push-1-2"></div>
            <p class="milli push-0">
              I like to work on various media with a keen eye for detail and an acute sense of aesthetics. I get my hands dirty and view every project as a chance to collaborate. <a class="site-name-link" href="https://instagram.com/aaspagnuolo" rel="external">Say hi!</a>
              <br><br>
              Alex Spagnuolo
            </p>
            <address class="milli push-1-2"><a class="site-name-link" href="https://maps.google.ca/?q=Ottawa,+ON" rel="external"><span itemprop="addressLocality">Ottawa</span>, <span itemprop="addressCountry">Canada</span></a></address>
            <ul class="list-group-inline push-0">
              <li>
                <a aria-label="Go to LinkedIn" itemprop="url" href="https://www.linkedin.com/in/aaspagnuolo/" rel="me" rel="external">
                  <i class="icon i-48 i-footer white">
                    <svg><use xlink:href="/images/icons/icons.svg#in" /></svg>
                  </i>
                </a>
              </li>
              <li>
                <a aria-label="Go to Vimeo" itemprop="url" href="https://vimeo.com/aaspagnuolo/" rel="me" rel="external">
                  <i class="icon i-32 i-footer white">
                    <svg><use xlink:href="/images/icons/icons.svg#vimeo" /></svg>
                  </i>
                </a>
              </li>
              <li>
                <a aria-label="Go to GitHub" itemprop="url" href="https://github.com/AlexSpagnuolo/" rel="me" rel="external">
                  <i class="icon i-32 i-footer white">
                    <svg><use xlink:href="/images/icons/icons.svg#gh" /></svg>
                  </i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="unit unit-xs-hidden unit-s-hidden unit-m-hidden l-1-2" style="background-image: url(/images/covers/say-hi.jpg)"></div>
      </div>
    </div>
  </section>
</footer>
