<footer class="pad-t-2 pad-b {{page.footercolourclass}}" id="footer" role="contentinfo" tabindex="0">

  <div class="wrapper push-2">
    <a href="#top" title="Scroll to top">
      <p class="gutter tena {{page.footertoplinkclass}}">{{page.projectname}}</p>
    </a>
  </div>

  <aside class="text-center" role="complementary">

    <address class="micro push pad-b">
      <div class="push-1-4">
        <a class="navlink {{page.footerlinkclass}}" href="https://maps.google.ca/?q=Ottawa,+ON" itemprop="addressLocality" rel="external">Ottawa, ON</a>
      </div>
      <div class="push-1-4">
        <a class="navlink {{page.footerlinkclass}}" href="mailto:alex@aaspagnuolo.ca" itemprop="email">alex@aaspagnuolo.ca</a>
      </div>
      <div class="push-1-4">
        <a class="navlink {{page.footerlinkclass}}" href="tel:+16137099179" itemprop="telephone">+1 (613) 709-9179</a>
      </div>
    </address>

    <div class="nano">
      <ul class="list-group-inline">
        <li class="footer-nav-link">
          <a class="navlink {{page.footerlinkclass}}" href="{{site.baseurl}}/" rel="home">Portfolio</a>
        </li>
        <li class="footer-nav-link">
          <a class="navlink {{page.footerlinkclass}}" href="{{site.baseurl}}/about/">About</a>
        </li>
        <li>
          <a class="navlink {{page.footerlinkclass}}" href="{{site.baseurl}}/more-work/">More work</a>
        </li>
      </ul>

      <section class="grid icons pad-b-2">

        <div class="unit xs-1-4 gutter">
          <a title="Instagram" itemprop="url" class="icon-link" href="https://instagram.com/aaspagnuolo/" rel="me" rel="external">
            <i class="icon i-btn i-24 {{page.iconcolour}}">
              <svg><use xlink:href="{{site.baseurl}}/images/icons/icons.svg#ig" /></svg>
            </i>
          </a>
        </div>

        <div class="unit xs-1-4 gutter">
          <a title="Vimeo" itemprop="url" class="icon-link" href="https://vimeo.com/aaspagnuolo/" rel="me" rel="external">
            <i class="icon i-btn i-24 {{page.iconcolour}}">
              <svg><use xlink:href="{{site.baseurl}}/images/icons/icons.svg#vimeo" /></svg>
            </i>
          </a>
        </div>

        <div class="unit xs-1-4 gutter">
          <a title="LinkedIn" itemprop="url" class="icon-link" href="https://www.linkedin.com/in/aaspagnuolo/" rel="me" rel="external">
            <i class="icon i-btn i-24 {{page.iconcolour}}">
              <svg><use xlink:href="{{site.baseurl}}/images/icons/icons.svg#in" /></svg>
            </i>
          </a>
        </div>

        <div class="unit xs-1-4 gutter">
          <a title="GitHub" itemprop="url" class="icon-link" href="https://github.com/AlexSpagnuolo/" rel="me" rel="external">
            <i class="icon i-btn i-24 {{page.iconcolour}}">
              <svg><use xlink:href="{{site.baseurl}}/images/icons/icons.svg#gh" /></svg>
            </i>
          </a>
        </div>
      </section>

      <p>© 2018 Alex Spagnuolo. All rights reserved.</p>
    </div>

  </aside>
</footer>
