<div class="case-study grid-item4 relative">
  <a href="https://smokeandsoy.com" class="text-center" itemprop="url">
    <div class="white island case-study-hover absolute pin-c">
      <div class="push">
        <h3 class="grid-title">Innovation Fair</h3>
      </div>
      <div class="push">
        <img src="https://via.placeholder.com/150" alt="">
      </div>
      <p class="milli push-0 grid-text">As the Creator, I designed, iterated, coded, hand-made, packaged and marketed the candle brand entirely.</p>
    </div>
  </a>
</div>
