<a href="/files/alexspagnuolo-innovationfair.pdf" class="text-center" itemprop="url">
  <div class="case-study grid-item4 relative" style="height: 105%;">
    <div class="grid-item-bg" style="background-image: url(/images/covers/innovation-fair.jpg)"></div>
    <div class="white island case-study-hover absolute pin-c">
      <div class="push">
        <h3 class="grid-title">Innovation Fair</h3>
      </div>
      <div class="grid-item-divider"></div>
      <p class="milli push-0 grid-text">An interactive map with learning pitstops to exhibit the innovative methods and results of IRCC's Transformation.</p>
    </div>
  </div>
</a>
