<a href="/work/madonna-fest" class="text-center" itemprop="url">
  <div class="case-study grid-item4 relative">
    <div class="grid-item-bg" style="background-image: url(/images/covers/madonna.jpg)"></div>
    <div class="white island case-study-hover absolute pin-c">
      <div class="push">
        <h3 class="grid-title">Madonna Fest</h3>
      </div>
      <div class="grid-item-divider"></div>
      <p class="milli push-0 grid-text">Print designs attracting many to the annual Spring festival.</p>
    </div>
  </div>
</a>
