<div class="yellow relative">
  <a href="/" class="case-study" itemprop="url">
    <img class="img-flex" src="images/covers/madonna.jpg" alt="Madonna della Risurrezione Annual Festival 2019 poster">
    <div class="text-left absolute island pin-lt case-study-hover">
      <h3 class="push-0">Madonna della Risurrezione</h3>
      <p class="uppercase nano push-1-2">Print</p>
      <p class="nano push-0">Attracting many to the annual Spring festival.</p>
      <i class="icon i-16">
        <svg><use xlink:href="/images/icons/icons.svg#next" /></svg>
      </i>
    </div>
  </a>
</div>
