<div class="orange relative">
  <a href="/" class="case-study" itemprop="url">
    <img class="img-flex" src="images/covers/micromacro.jpg" alt="Micro Macro Brewing Co. logo">
    <div class="text-left absolute island pin-lt case-study-hover">
      <h3 class="push-0">Micro Macro Brewing Co.</h3>
      <p class="uppercase nano push-1-2">Branding</p>
      <p class="nano push-0">Where beer drinkers and video game enthusiasts alike can go back to the basics of sipping local brews.</p>
      <i class="icon i-16">
        <svg><use xlink:href="/images/icons/icons.svg#next" /></svg>
      </i>
    </div>
  </a>
</div>
