<div class="blue relative">
  <a href="https://vimeo.com/aaspagnuolo/" class="case-study" itemprop="url" rel="me" rel="external ">
    <img class="img-flex" src="images/covers/motion.jpg" alt="Motion graphics Vimeo">
    <div class="text-left absolute island pin-lt case-study-hover">
      <h3 class="push-0">Motion graphics</h3>
      <p class="uppercase nano push-1-2">Motion, digital</p>
      <p class="nano push-0">A collection of my motion graphics videos on Vimeo.</p>
      <i class="icon i-16">
        <svg><use xlink:href="/images/icons/icons.svg#link" /></svg>
      </i>
    </div>
  </a>
</div>
