<div class="purple relative">
  <a href="/parlour-rebrand" class="case-study" itemprop="url">
    <img class="img-flex" src="images/covers/newmoon.jpg" alt="New Moon Tattoo re-branding">
    <div class="text-left absolute island pin-lt case-study-hover">
      <h3 class="push-0">New Moon Tattoo</h3>
      <p class="uppercase nano push-1-2">Branding, print, digital</p>
      <p class="nano push-0">Revealing the artistic personalities under a uniform banner.</p>
      <i class="icon i-16">
        <svg><use xlink:href="/images/icons/icons.svg#next" /></svg>
      </i>
    </div>
  </a>
</div>
