<div class="blue relative">
  <a href="/periculum-labs" class="case-study" itemprop="url">
    <img class="img-flex" src="images/covers/periculum.jpg" alt="Periculum Labs wordmark">
    <div class="text-left absolute island pin-lt case-study-hover">
      <h3 class="push-0">Periculum Labs</h3>
      <p class="uppercase nano push-1-2">Branding, digital</p>
      <p class="nano push-0">Established branding and corporate identity representing the power of decision intelligence.</p>
      <i class="icon i-16">
        <svg><use xlink:href="/images/icons/icons.svg#next" /></svg>
      </i>
    </div>
  </a>
</div>
