<div class="gold relative">
  <a href="/photography" class="case-study">
    <img class="img-flex" src="images/covers/photography.jpg" alt="Photography collage">
    <div class="text-left absolute island pin-lt case-study-hover">
      <h3 class="push-0">Photography</h3>
      <p class="uppercase nano push-1-2">Photography, art, digital</p>
      <p class="nano push-0">A collective hobby collage of my favourite aesthetic shots.</p>
      <i class="icon i-16">
        <svg><use xlink:href="/images/icons/icons.svg#next" /></svg>
      </i>
    </div>
  </a>
</div>
