<div class="dark-green relative">
  <a href="/roz-ross" class="case-study" itemprop="url">
    <img class="img-flex" src="images/covers/rozross.jpg" alt="Roz Ross Executive Coaching branding & website">
    <div class="text-left absolute island pin-lt case-study-hover">
      <h3 class="push-0">Roz Ross Executive Coaching</h3>
      <p class="uppercase nano push-1-2">Branding, web, art direction</p>
      <p class="nano push-0 text-overflow">A fluid brand and platform that pushes working together to engage people's potential.</p>
      <i class="icon i-16">
        <svg><use xlink:href="/images/icons/icons.svg#next" /></svg>
      </i>
    </div>
  </a>
</div>
