<a href="/work/tattoo-studio" class="text-center" itemprop="url" aria-label="Visit " style="width:100%; height:100%;">
  <div class="case-study project3 relative" style="width:100%; height:100%;">
    <div class="white island case-study-hover absolute pin-c">
      <div class="push">
        <h3 class="grid-title">Tattoo Studio</h3>
      </div>
      <div class="grid-item-divider"></div>
      <p class="milli push-0 grid-text">Allowing the art created within to shine.</p>
    </div>
  </div>
</a>
