<a href="https://online.flippingbook.com/view/57183048/" class="text-center" itemprop="url">
  <div class="case-study grid-item2 relative">
    <div class="grid-item-bg" style="background-image: url(/images/covers/transformation-story.jpg)" media="screen"></div>
    <div class="black island case-study-hover absolute pin-c">
      <div class="push">
        <h3 class="grid-title ">Transformation Story</h3>
      </div>
      <div class="grid-item-divider"></div>
      <p class="milli push-0 grid-text">A strategically communicated report in an attractive, story-telling layout to solidify stakeholder confidence.</p>
    </div>
  </div>
</a>
