<div class="gold relative">
  <a href="/trucking-hr" class="case-study" itemprop="url">
    <img class="img-flex" src="images/covers/truckinghr.jpg" alt="Trucking HR banners and advertisement">
    <div class="text-left absolute island pin-lt case-study-hover">
      <h3 class="push-0">Trucking HR</h3>
      <p class="uppercase nano push-1-2">Print, digital</p>
      <p class="nano push-0">Celebrating honourees in the Canadian trucking industry.</p>
      <i class="icon i-16">
        <svg><use xlink:href="/images/icons/icons.svg#next" /></svg>
      </i>
    </div>
  </a>
</div>
