<div class="orange relative">
  <a href="/" class="case-study" itemprop="url">
    <img class="img-flex" src="images/covers/worldanimal.jpg" alt="World Animal Protection final annual report">
    <div class="text-left absolute island pin-lt case-study-hover">
      <h3 class="push-0">World Animal Protection</h3>
      <p class="uppercase nano push-1-2">Print</p>
      <p class="nano push-0">Summing up the year with a forward-moving identity.</p>
      <i class="icon i-16">
        <svg><use xlink:href="/images/icons/icons.svg#next" /></svg>
      </i>
    </div>
  </a>
</div>
